body { 
    padding-bottom: 70px; 
    overflow-x:hidden; 
    overflow-y:hidden; 
}

.App {
    width: 100vw;
    height: 100vh;
}

.Left {
    background: red;
    display: inline-block;
    width: 20%;
    height: 100%;
}

.Right {
    background: blue;
    display: inline-block;
    width: 80%;
    height: 100%;
}

.btn-fixed {
    position: fixed;
    bottom: 68px;
    right: 16px;
}

.Main-Container {
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100vh;
}

.Main-Page {
    overflow-y:auto; 
    overflow-x:auto; 
    width:100%;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

.center {
    margin: auto;
}

.form-title {
    text-align: center;
    align-self: center;
}

.bg-blue {
    background: #bbdefb;
}

.tfoot > tr {
    border: none;
    padding-top: 0;
}

.tfoot > tr > td {
    border: none;
    padding-top: 0;
    padding-bottom: 1px;
}

.fixed-top {
    width: 100%;
    position: fixed;
    top: 0;
    background: #eee;
}

.fixed-bottom {
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #eee;
}

.input-pd {
    padding-left:  3px !important;
    padding-right: 3px !important;
}
